info:
  contactEmail: philippe.brossier@ons.gov.uk
  version: ${project.version}
  commit: ${buildNumber}
  branch: ${scmBranch}
  buildTime: ${timestamp}

security:
  basic:
    enabled: false
  user:
    name: gateway
    password: ctp

management:
  port: 8231
  context-path: /mgmt
  security:
    role: SUPERUSER
    enabled: true
  health:
    rabbit:
      enabled: false

server:
  port: 8131
  servlet-path: /

endpoints:
  enabled: true
  sensitive: true

spring:
  output:
    ansi:
      enabled: never
  application:
    name: projectTotestTaskExecutorPauses

  sleuth:
    sampler:
      percentage: 1

  zipkin:
    enabled: false # true is the default to post to a Zipkin server at 9411

# logging config here as a reminder as to how to override logback from cmd line
# ie -Dlogging.level.org.springframework=DEBUG
logging:
  level:
    org.springframework: error
    uk.gov.ons.ctp: debug

container:
  receiveTimeout: 1000
  recoveryInterval: 5000
  threads: 1

poller:
  fixedDelay: 100
  fixedRate: false
  initialDelay: 1000
  maxMessagesPerPoll: 1
  supportHourStart: 17
  supportMinuteStart: 30
  supportHourEnd: 18

rabbitmq:
  username: guest
  password: guest
  host: localhost
  virtualhost: /
  queueBrowserReadMax: 10
